@model IEnumerable<ASPLabb1.Models.History>

@{
    ViewData["Title"] = "History";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Personal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOffApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Personal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOffApplication.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
